@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.vertical-timeline:before {
    border-radius: 9999px;
  }

.borderBlack {
  @apply border border-black/10;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffd864;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a98f42; /* Cambio de color al pasar el mouse por encima del thumb */
}

::-webkit-scrollbar-corner {
  background: transparent; /* Espacio en la esquina de la barra de desplazamiento */
}
